include index
h1.text_align_center Welcome to Quesity

#login_main.center_screen
      a(href='/login/facebook')
        img(src='/main_site/img/btn_facebook_login.png', style='margin-left: auto; margin-right: auto; display: block;')
