<script type='text/template' id='tmpl_header'>
<div id='quest_page_title' style='text-align:center'>
	<table id='page_symbol'><tr><td><img src='img/location_icon.png'/></td></tr><tr><td id='type_title'></td></tr></table>
	<span id='page_number'><h1><%=page_number%> </h1></span>
	<div text-align:'center'><input id='page_title_text'  type="text" value="<%=page_name%>"/></div>
	<div id='content_wrapper' style='float:left; height:80%; width:60%'><textarea style='height:100%; width:100%;' id='content_editor'></textarea></div>
<div id='links'>

</script>
<script type='text/template' id='tmpl_locations'>
<table id="locations" class="tablesorter"> 
<thead>
<tr>
	<th>Address</th>
	<th>Radius</th>
	<th>Leads to page</th>
	<th>Delete</th>
</tr> 
</thead>
<tbody id='row_table_body'> 
</tbody>
</table>
<div style='float:right'><button id='btn_add_row'>Add</button></div>
</script>

<script type='text/template' id='tmpl_answers'>
<table id="answers" class="tablesorter"> 
<thead> 
<tr> 
    <th>Answer</th> 
    <th>Leads to page</th> 
	<th>Delete</th>
</tr> 
</thead> 
<tbody id='row_table_body'> 
</tbody>
</table>
<div style='float:right'><button id='btn_add_row'>Add</button></div>
</script>

<script type='text/template' id='tmpl_static_links'>
<table id="tbl_links" class="tablesorter"> 
<thead> 
<tr> 
    <th>Leads to page</th> 
	<th>Delete</th>
</tr> 
</thead> 
<tbody id='row_table_body'> 
</tbody>
</table>
<div style='text-align:right;'><button id='btn_add_row'>Set Link</button></div>
</script>

<script type='text/template' id='tmpl_one_location'>
<td><a href='#' id='lnk_edit_row'><%= txt_street %></a></td>
<td><span id='lbl_radius'><%= radius %></span></td>
<%if ( links_to_page ) {%> 

<td><a href='#'><a href='#page/<%= links_to_page.get('page_number') %>' id='lnk_links_to_page'><%= links_to_page.get('page_number') %> - <%=links_to_page.get('page_name')%></a></a></td>
<% } else { %>
	<td>N/A</td>
<%}%> 
<td><button id='btn_delete_row' class='btn_delete_hint'>X</button></td>
</script>
<script type='text/template' id='tmpl_one_link'>
	<%if ( links_to_page ) {%> 

	<td><a href='#' id='lnk_edit_row'><a href='#page/<%= links_to_page.get('page_number') %>' id='lnk_links_to_page'><%= links_to_page.get('page_number') %> - <%=links_to_page.get('page_name')%></a></a></td>
	<% } else {%>
	<td>N/A</td>
	<%}%>
	<td><button id='btn_delete_row' class='btn_delete_hint'>X</button></td>
</script>

<script type='text/template' id='tmpl_one_hint'>
	<td><a href='#' id='lnk_edit_row'><%=hint_title%></a></td>
	<td><button id='btn_delete_row' class='btn_delete_hint'>X</button></td>
</script>

<script type='text/template' id='tmpl_one_answer'>
	<td><a href='#' id='lnk_edit_row'><%=answer_txt%></a></td>
	<td>
			<%if ( links_to_page ) %> 
				<a href='#page/<%= links_to_page.get('page_number') %>' id='lnk_links_to_page'><%= links_to_page.get('page_number') %> - <%=links_to_page.get('page_name')%></a>
			<%else { %> N/A </td> <% } %>
	<td><button id='btn_delete_row' class='btn_delete_hint'>X</button></td>
</script>

<script type='text/template' id='tmpl_hints'>
<table id="hints" class="tablesorter"> 
<thead> 
<tr> 
    <th>Hint</th> 
    <th> </th> 
</tr> 
</thead> 
<tbody id='row_table_body'> 

</tbody> 
</table> 
<div style='float:right'><button id='btn_add_row'>Add</button></div>
</script>

<script type='text/template' id='tmpl_page_location'>
	<%= _.template($('#tmpl_header').html())(data) %>
	<div id='locations_place_holder'></div>
	<div id='hint_place_holder'></div>
<br/>
<button id='btn_exit_prop'>Back to diagram</button>

</div>
</div>
</script>

<script type='text/template' id=tmpl_page_question>
	<%= _.template($('#tmpl_header').html())(data) %>
	<div id='answers_place_holder'></div>
	<div id='hint_place_holder'></div>
<br/>
<button id='btn_exit_prop'>Back to diagram</button>

</div>
</div>
</script>

<script type='text/template' id=tmpl_page_surprise>
	<%= _.template($('#tmpl_header').html())(data) %>
	<div id='location_place_holder'></div>
	<div id='hint_place_holder'></div>
<br/>
<button id='btn_exit_prop'>Back to diagram</button>

</div>
</div>
</script>

<script type='text/template' id='tmpl_select_link'>
  	<select id='next_page_link' name='next_page_link'>
	<% parent_page.get_linkable_pages().each( function(page) { %>
		<option value='<%= page.get('page_number')%>'    
	<% if (page == links_to_page) { %>
	SELECTED
	<% } %>

		>

<%=page.get('page_number') %> - <%=page.get('page_name') %>
	</option>
	<% }); %>
	</select>
</script>

<script type='text/template' id='tmpl_time_label'>
	<%if (stall_time) {%>
		<span id='time_delay_label'><%=stall_time%> min delay</span>
	<%}%>
</script>
<script type='text/template' id='tmpl_page_stall'>
	<%= _.template($('#tmpl_header').html())(data) %>
	<div id='link_place_holder'></div>
	<div id='time_delay'></div>

	<div><button id='btn_set_time'>Set Time</button></div>
<button id='btn_exit_prop'>Back to diagram</button>

</div>
</div>
</script>

<script type='text/template' id='tmpl_page_static'>
	<%= _.template($('#tmpl_header').html())(data) %>
	<div id='link_place_holder'></div>

<button id='btn_exit_prop'>Back to diagram</button>

</div>
</div>
</script>

<script type='text/template' id=tmpl_hint_dialog>

<div id="dialog_form" title="Add New Hint">
  <form>
  <fieldset>
    <label for="txt_hint_title">Title:</label>
  	<input type="text" name="txt_hint_title" id="txt_hint_title" class="text ui-widget-content ui-corner-all" value="<%=data.hint_title || ''%>"/>
    <label for="txt_hint">Hint:</label>
    <textarea type="text" name="txt_hint" id="txt_hint" class="text ui-widget-content ui-corner-all"><%=data.hint_txt || ''%></textarea>
  </fieldset>
  </form>
</div>
</script>

<script type='text/template' id=tmpl_answer_dialog>

<div id="dialog_form" title="Add New answer">
  <form>
  <fieldset>
    <label for="txt_hint_title">Answer:</label>
  	<input type="text" name="txt_answer" id="txt_answer" class="text ui-widget-content ui-corner-all"  value='<%=data.answer_txt || ''%>' />
    <label for="next_page_link">This answer links to page:</label>
	<%= _.template($('#tmpl_select_link').html())({'parent_page':data.parent_page, 'links_to_page':data.links_to_page}) %>


  </fieldset>
  </form>
</div>
</script>

<script type='text/template' id='tmpl_set_time_dialog'>
<div id="dialog_form" title="How much time would you like to delay?">

  <label for="spinner">Minutes delay:</label>
  <input id="time_delay_spinner" value='<%=data.stall_time%>'/>
</div>
</script>
<script type='text/template' id='tmpl_add_location_dialog'>
<div id="dialog_form" title="Choose Location for linked page">
<div id='map_container'></div>
	<%= _.template($('#tmpl_select_link').html())({'parent_page':data.parent_page, 'links_to_page':data.links_to_page}) %>
<input type='hidden' id='txt_lat' value="<%=data.lat || '' %>"/>
<input type='hidden' id='txt_lng' value="<%= data.lng || ''%>"/>
<input type='hidden' id='txt_radius' value="<%= data.radius || '' %>"/>
<input type='hidden' id='txt_street' value="<%= data.txt_street || ''%>" />
</div>
</script>
<script type='text/template' id=tmpl_set_link_dialog>

<div id="dialog_form" title="Set Link">
  <form>
  <fieldset>
    <label for="next_page_link">Set the next page:</label>

  	<select id='next_page_link' name='next_page_link'>
	<% data.parent_page.get_linkable_pages().each( function(page) { %>
		<option value='<%= page.get('page_number')%>'  
		<% 
		var links = data.parent_page.get('links');
		if ( links.length >0 ) {
			var only_page = links.at(0).get('links_to_page'); 
			if ( only_page == page ) { %>
				selected
		<% } } %>
 ><%=page.get('page_number') %> - <%=page.get('page_name') %>
		 </option>
	<% }); %>
	</select>
  </fieldset>
  </form>
</div>
</script>