<link href="/shared/js/lib/jquery-ui/plugins/tagit/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="/shared/js/lib/jquery-ui/plugins/ADGallery/jquery.ad-gallery.css" rel="stylesheet" type="text/css">
<link href="/shared/js/lib/jquery-ui/plugins/select2/select2.css" rel="stylesheet" type="text/css">


<h1 class='text_align_center'>My Quests</h1>
<div id="btn_profile_div">
<button id='btn_profile'><%=name.first%> <%=name.last%></button>
	<ul id="btn_profile_menu">
		<li><a href="#" id='href_logoff'>Logoff</a></li></li>
	</ul>
</div>
<div class='center_screen'>
<table style='width:100%;' id='tbl_quests'>
	<% if (quests != undefined) { _.each(quests,function(quest) { %>
		<tr>
			<td><a href='/editor/<%=quest._id%>'><%=quest.title%></a></td>
			<td style='text-align:right;'><button name='btn_edit' data-quest-id="<%=quest._id%>" style='height:2em;'></button></td>
			<td style='text-align:right;'><button name='btn_del_quest' data-quest-id="<%=quest._id%>" style='height:2em;'></button></td>
			<td style='text-align:right;'><input type='checkbox' name='btn_publish_' <%if (quest.is_published) {%>checked<%}%> data-quest-id="<%=quest._id%>" id ='btn_publish_<%=quest._id%>' style='height:2em;'
				class='btn_del_quest_checkbox'/>
				<label for="btn_publish_<%=quest._id%>">Publish</label>
			</td>
		</tr>
	<%});}%>
</table>
<div class='text_align_center' style='vertical-align:bottom;'><button id='btn_new_quest'>Create new ... </button></div>
</div>