<style type="text/css">
	input {
		display:block;
		margin-bottom:20px;
		width:60%;
	}
</style>
<div id='login_main' class='center_screen'>
<h1 class='text_align_center'>Welcome to Quesity!</h1>
<form>
	<fieldset style='border:0px;'>
		<label>Email:
			<input type="text" name="email"/>
		</label>
		
		<label>Password:
			<input type="password" name="password"/>
		</label>
		<div class='text_align_center' id='submit_div'><input type='submit' value="Login"/></div>
		<p>
		<div class='text_align_center'>Don't have an account? <a href="/#register">Register!</a></div>
	</fieldset>
</form>
</div>