#menu {
	position: relative;
	left:-600;
}

#new_page_menu{
	width:150px;
	display:none;
	position:absolute;
}

.smaller_fonts {
	font-size:12px;
}
.btn_connection {
	display:inline;
	position:absolute;
	background-image: url("img/arrow_icon.png");
	background-size: 20px;
	width:20px;
	height:20px;
}
#toolbar {
		padding: 4px;
		display: inline-block;
		display:none;
		position:absolute;
	}
#page_number{ 
  border-radius: 55em;
  -moz-border-radius: 55em;
  -webkit-border-radius: 55em;
  border:3px solid black;
  display: inline-block;
  font-weight: bold;
  line-height: 3em;
  margin-right: 5px;
  text-align: center;
  width: 6em; 
}
body {
   background:url(
   
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQYV2NkYGDwAeIthGhGoAKiAEghzES8GkZNxBs8ALOvCQtmZ8UqAAAAAElFTkSuQmCC   ) repeat;
}

.quest_page {
	border: 1px solid black;
	border-radius: 30px;
	display: 'inline';
	background: transparent;
	background-color:rgba(189,223,255,0.8);
	position: fixed;
	padding: 20px;
}
#page_symbol {
	position: absolute;
	float: right;
	height:100px;
	margin-right:1em;
	right: 0px;
}
#page_symbol td {
	text-align: center;
}
#page_symbol img {
	height:100px;
}

#links{ 
	float:right;
	width:25%;
}
#dialog_form input, #dialog_form label {
	display: block;
}

#page_title_text {
	background-color:rgba(189,223,255,0);
	font-size: 2em;
	border: 0px;
	text-align: center;
}
#world {
	height:100%;
}