
<div id='dlg_create_quest'>
	
<style type="text/css" media="screen">
	
	.select_box_image {
		height:32px;
		width:32px;
		vertical-align:middle;
	}
	
	#tabs .ui-tabs-panel {
    height:450px;
    overflow: auto;
   }
   
    #tactics input, #tactics label, #temp_settings input, #temp_settings label {
    	display:block;
    }
    
	.ui-spinner {
		margin-bottom:20px;
		margin-top:10px;
		width:5em;
	}
	.form_field {
		margin-top:10px;
	}
	.ad-thumb-list {
		width:100%;
	}
	.ad-gallery{
		margin-left:auto;
		margin-right:auto;
	}
	fieldset {
		margin-bottom:30px;
	}
	
	#add_image {
		margin-left:auto;
		margin-right: auto;
		text-align:center;
		margin-bottom:20px;
	}
	.ad-thumbs img {
		width:90px;
		height:60px;
	} 
</style>
	<div id="tabs" style="padding-top:10px;">
	  <ul>
	    <li><a href="#general_information">General Information</a></li>
	    <li><a href="#properties">Properties</a></li>
	    <li><a href="#tactics">Tactics</a></li>
	  </ul>
	  <div id="general_information">
		<label for="title" class='form_field'>Title</label><br/>
		<input type="text" class='form_field' name="title" id="title" style='width:30em;' value="<%=title%>"/>
		<br/>
		<label for="description" class='form_field'>Description</label><br/>
		<textarea name="description" style='width:30em; height:20em;'  class='form_field' id='description'><%=description%></textarea>
		
	  </div>
	  <div id="properties">
	  	<fieldset id="" class="">
			<legend>Starting Location</legend>
	  	<div id='location_fields' >
	  		<div style='float:left;'>
		  		<label for='txt_street' class='form_field' >Street</label>
				<input type="text" name="street" id="txt_street" class='form_field' readonly=true value="<%= starting_location.street %>"/>
				<label for='txt_radius' class='form_field'>Radius</label>
				<input type="text" name="radius" id="txt_radius" class='form_field' style='width:4em;' value="<%=starting_location.radius%>"/>
				<input type="hidden" name='txt_lat' id='txt_lat' value="<%=starting_location.lat%>"/>
				<input type="hidden" name='txt_lng' id='txt_lng' value="<%=starting_location.lng%>"/>
			</div>
			<button id='btn_open_map' style='margin-left:30px; vertical-align:middle; display:inline-block;'>Open Map</button>
	  	</div>
	  	</fieldset>
	  	<fieldset id='first_page'>
		<legend>First Page of the Quest</legend>
	  	<select id='select_first_page' name='select_first_page' style="width:90%;">
			<% _.each(pages, function(page) { %>
			<option data-page-id='<%=page._id%>' data-page-type='<%=page.page_type%>' value='<%= page.page_number%>'    
				<% if (page.is_first) { %>
					SELECTED
				<% } %> >

				<%=page.page_number %> - <%=page.page_name %>
			</option>
			<% }); %>
		</select>
	  		
	  	</fieldset>
	  	<fieldset id="tag_fieldset" class="">
			<legend>Tags</legend>
		  	<ul id='tags'>
		  		<% _.each(tags,function(tag) { %>
		  			<li><%=tag%></li>
		  		<%});%>
		  	</ul>
	  	</fieldset>
	  	<fieldset id='gallery-fieldset'>
	  		<legend>Photo gallery</legend>
<div id='add_image'><label for='txt_image_url'>Add image:</label>
<input type='text' id='txt_image_url' name='txt_image_url' style="width:350px;"/><button id='btn_add_image' style='margin-left:15px;'>+</button></div>

<div class="ad-gallery">
				<div class="ad-image-wrapper"></div>
				<div class="ad-controls"></div>
				<div class="ad-nav" >
					<div class="ad-thumbs">
						<ul class="ad-thumb-list">
							<!-- <li>
								<a href="http://coffeescripter.com/code/ad-gallery/images/6.jpg"><img src="http://coffeescripter.com/code/ad-gallery/images/thumbs/t6.jpg" title="Title for 1.jpg" class='image0'></a>
							</li>
							<li>
								<a href="http://coffeescripter.com/code/ad-gallery/images/5.jpg"><img src="http://coffeescripter.com/code/ad-gallery/images/thumbs/t5.jpg" title="Title for 1.jpg" class='image1'></a>
							</li>
							<li>
								<a href="http://coffeescripter.com/code/ad-gallery/images/4.jpg"><img src="http://coffeescripter.com/code/ad-gallery/images/thumbs/t4.jpg" title="Title for 1.jpg" class='image2'></a>
							</li>
							<li>
								
								<a href="http://coffeescripter.com/code/ad-gallery/images/3.jpg"><img src="http://coffeescripter.com/code/ad-gallery/images/thumbs/t3.jpg" title="Title for 1.jpg" class='image3'></a>
							</li> -->
							<% for(var i=0; i<images.length; ++i) { %>
								<li>
									<a href="<%=images[i]%>"><img src="<%=images[i]%>" title="" class='image<%=i%>'></a>
								</li>
							<%}%>
						</ul>
					</div>
				</div>

</div>

</fieldset>

<fieldset id="temp_settings">
	<legend>Temporary Settings</legend>
	<label for="rating">Rating: </label>
	<input type="text" id="rating" name="rating" value="<%=rating%>"/>
	<label for="played">Games Played:</label>
	<input type="text" id="played" name="played" value="<%=games_played%>"/>
	<label for="time">Approx time:</label>
	<input type="text" id='time' name='time' value="<%=time%>">
	<label for="distance">Approx Distance:</label>
	<input type="text" id="distance" name="distance" value="<%=distance%>">
	<label for="map_url">Map URL: </label>
	<input type="text" id="map_url" name="map_url" value="<%=map_url ||''%>" style="width:85%;"/>
</fieldset>
	  	
	  </div>
	  <div id="tactics">
	  <fieldset>
		<legend>Tactics</legend>
		<label for='allowed_hints'>Number of hints the player is allowed to take during the quest:</label>
		<input type='text' name='allowed_hints' class='form_field' id='allowed_hints' value="<%=allowed_hints%>"/><br/>
		<label for="allowed_public_questions">Number of public questions the player is allowed to ask during the quest:</label> 
		<input type='text' name='allowed_public_questions' class='form_field' id='allowed_public_questions' value="<%=allowed_public_questions%>"/><br/>
		<label for="allowed_location_finders">Number of location hints the player is allowed to take during the quest:</label>
		<input type='text' name='allowed_location_finders' class='form_field' id='allowed_location_finders' value="<%=allowed_location_finders%>"/><br/>
	  </fieldset>
	  </div>
	</div>
	
	
	<!-- <form id='frm_create_quest'>
		<fieldset id="fieldset" class="">
		  <legend>Quest details</legend>
		  Name: <input type='text' id='txt_quest_title' name='txt_quest_title'/>
		</fieldset>	
	</form> -->
	<div id='map_container'></div>
	<button id='btn_del_img' name='btn_del_img' style='display:block; position:absolute; height:2em;'></button>
</div>

